*{
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    overflow: hidden;
    align-items: center;  
    width: 100vw;
    padding-left: 20rem;
    padding-right: 20rem;
    height: 6vh;
    background-color: white !important;
    
}
.navbar *{
    display: flex;
    align-items: center;
}

.nav-nav *{
    display: inline-block;
    text-decoration: none;
    padding-right: 12px;
    font-size: 2rem;

}
.nav-inp{
    display: inline-block !important;
    height: 3.5vh;
    width: 20em;
    margin-bottom: 0;
    font-size: 0.7rem;
    background-color: #f8f8f8;
    margin-left: 1em;
    border: none;
    border-radius: 10px !important;
    margin-left: 7px;
}
.nav-inp:focus{
    outline: none;
}
.search{
    background-color: #f8f8f8;
    border-radius: 5px;
}
.post-icerik p{
    padding: 3px;
}